alembic==1.18.4
asyncpg==0.31.0
attrs==26.1.0
binaryornot==0.6.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
cookiecutter==2.7.1
docstring_parser==0.18.0
docutils==0.22.4
email-validator==2.3.0
fastapi==0.136.3
greenlet==3.5.1
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
loguru==0.7.3
psycopg2-binary==2.9.11
pydantic==2.13.4
pydantic_core==2.46.4
PyYAML==6.0.3
SQLAlchemy==2.0.50
unicorn==2.1.4
uvicorn==0.49.0
watchdog==3.0.0
